#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define QWERT 0
#define FUNC  1

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Debug Layer
            display-name = "DEBUG";
            bindings = <
                &kp KC_1    &kp KC_2    &kp KC_3    &kp KC_4    &kp KC_5    &kp KC_6    &kp KC_7    &kp KC_8    &kp KC_9    &kp KC_0
                &kp KC_F1   &kp KC_F2   &kp KC_F3   &kp KC_F4   &kp KC_F5   &kp KC_F6   &kp KC_F7   &kp KC_F8   &kp KC_F9   &kp KC_F10
                &kp KC_Q    &kp KC_W    &kp KC_E    &kp KC_R    &kp KC_T    &kp KC_Y    &kp KC_U    &kp KC_I    &kp KC_O    &kp KC_P
                &kp KC_A    &kp KC_S    &kp KC_D    &kp KC_F    &kp KC_G    &kp KC_H    &kp KC_J    &kp KC_K    &kp KC_L    &kp KC_ENTER
                &kp KC_Z    &kp KC_X    &kp KC_C    &kp KC_V    &kp KC_B    &kp KC_N    &kp KC_M    &kp KC_DOT  &kp KC_SLSH &kp KC_BSPC
            >;
        };
    };
};